@import './videoCard';

.videos-slider[data-v-vdsldr]{
  .title-container {
    @include until($desktop) {
      align-items: flex-start;
    }
  }

  @include until($desktop){
    padding-bottom: 32px;
  }

  .is-inline-block{
    line-height: 1;
    vertical-align: middle;
  }
  .custom-icon{
    border-radius: 8px;

    img, amp-img{
      position: relative;
      width: 24px;
      height: 24px;
    }
  }

  .flickity-viewport{
    @include until($desktop){
      overflow: visible;
    }
  }

  .flickity-prev-next-button {
    position: absolute;
    top: calc(260px / 2);
    @include until($desktop){
      top: calc(225px / 2);
    }
    &.next, &.previous {
      background: transparent;
    }

    @include touch {
      &.previous {
        position: absolute;
        left: 0px;
      }
      &.next {
        position: absolute;
        right: -10px;
      }
    }

    &.flickity-button {
      color: $white !important;
    }
  }

  .flickity-page-dots{
    bottom: -30px;

    .dot{
      width: 8px;
      height: 8px;
      margin: 0 4px;
      background: #C5CED7;
      opacity: 1;

      &.is-selected{
        background: #00AEEF;
      }
    }
  }

  @include until($desktop) {
    .carousel-container {
      position: relative;
      left: -16px;
      width: calc(100% + 32px);

      .video-card {
        padding-left: 16px;
      }
    }
  }
}