<a href="#">
  <div data-v-ac="" class="article-card {{_class}}">
      <div class="thumb-container">
        <picture class="lazyload">
          <source srcset="/img/Imagem-exibida-no-topo-do-post-5.png" media="(max-width: 1024px)">
          <source srcset="/img/Imagem-exibida-no-topo-do-post-5.png">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-srcset="data:image/gif;base64, R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            typeof="foaf:Image" class=" lazyloaded"
            srcset="data:image/gif;base64, R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          >
        </picture>
      </div>
      <div class="content-container is-flex m-l-16">
        <div class="top-container">
          <div class="article-category has-underscore is-family-secondary has-text-display-heavier is-size-7 is-size-8-touch m-b-16">
            Dicas para Empreender
          </div>
          <div class="article-title has-text-primary is-size-4 is-size-5-touch m-b-8">
            <h3><strong>Como elaborar um contrato</strong> de prestação de serviços.</h3>
          </div>
          <div class="article-description is-hidden-touch is-size-7 has-text-cloud-regular is-family-secondary has-text-weight-light">
            Um contrato de prestação de serviço simples pode ser resolvido diretamente pelas partes envolvidas....
          </div>
        </div>
        <div class="bottom-container">
          <div class="author is-family-secondary has-text-cloud-regular is-size-8">
            Publicado por Equipe Cielo
          </div>
        </div>
      </div>
  </div>
</a>