<div data-v-tcctnt="" class="article-content has-text-display-heavy">
  
  <div class="article-header p-t-12">
    <img src="/img/post/post_cover.jpg" class="is-hidden-desktop">
    <div class="article-title has-text-primary is-size-2 is-size-5-touch has-text-weight-bold">Veja os destaques Cielo no Fórum E-commerce Brasil</div>
    <div class="article-description is-hidden-touch">Entre os dias 16 e 18 de julho, o Fórum E-commerce Brasil 2019, maior evento de comércio digital da América Latina.</div>
    <div class="article-share level is-size-8 has-text-display-heavy">
      <div class="level-left is-family-secondary">
        Publicado por Equipe Cielo
      </div>
      <div class="level-right">
        <div class="is-block-touch is-flex-desktop">
          <div class="social-label is-family-secondary is-block-touch">Compartilhe:</div>
          <img src="/img/post/logo-whatsapp.png" class="">
          <img src="/img/post/logo-instagram.png" class="">
          <img src="/img/post/logo-facebook.png" class="">
          <img src="/img/post/logo-twitter.png" class="">
          <img src="/img/post/logo-linkedin.png" class="">
        </div>
      </div>
    </div>
    <img src="/img/post/post_cover.jpg" class="is-hidden-touch article-image m-t-12 m-b-12">
  </div>


  <div class="article-post content is-size-7-touch is-family-secondary">
    <p>Entre os dias 16 e 18 de julho, o Fórum E-commerce Brasil 2019, maior evento de comércio digital da América Latina, passará por São Paulo, no Transamérica Expo Center. No encontro, que reúne em média 15 mil congressistas, teremos em nosso stand os produtos QR Code e Pagamento por Link.</p>
    <p>Esta é 10ª edição do Fórum E-commerce Brasil e, mais uma vez, os visitantes terão acesso a conteúdos exclusivos e direcionados para profissionais de lojas digitais e varejistas.</p>
    <p>Além disso, haverá inúmeras palestras e discussões técnicas, uma ótima oportunidade de networking e também para geração de negócios.</p>
    <p>Se você busca experiências que tragam novas ideias para sua empresa, estar presente no Fórum E-commerce Brasil é muito importante.</p>
    <br>
    
    <h2><strong>Por que a Cielo estará no Fórum E-commerce Brasil?</strong></h1>

    <p>Que o investimento em e-commerce está cada vez agressivo no Brasil não é mais novidade para ninguém. Afinal, o faturamento do setor, no ano de 2017, foi de R$ 47,7 bilhões, um aumento de 7,5% comparado ao ano anterior, de acordo com a 37ª edição da pesquisa Webshoppers (2018), feita pela Ebit em parceria com a Elo.</p>
    <p>Pensando nessa evolução digital crescente das empresas, a Cielo desenvolveu soluções que melhoram a experiência de pagamento dos usuários nos comércios eletrônicos.</p>

    {{> formLead}}

    <p>Quando falamos em melhorias na experiência não nos referimos apenas à forma como o pagamento é feito. Os produtos que citamos (QR Code e Pagamento por Link) também trazem mais segurança aos consumidores.</p>
    <p>Agora, vamos falar um pouco mais dessas soluções.</p>

    <br>
    
    <h2><strong>QR Code</strong></h2>

    <p>Hoje, é muito comum se deparar com pessoas que não andam com dinheiro físico na carteira. Por isso, raramente encontramos estabelecimentos que não aceitam pagamento em cartão.</p>
    <p>E o que isso quer dizer?</p>
    <p>O mercado se adaptou aos novos hábitos de consumo da população para não perder vendas. Com o QR Code a história deve ser semelhante e tão democrática quanto passar um cartão na maquininha.</p>

    <img src="/img/post/post_image.jpg" alt="">

    <p>Vale destacar novamente: não é preciso ter um smartphone de última geração. Além disso, esta solução se estende ao ambiente digital. Você precisa de um celular com câmera, uma carteira digital ou, se preferir, o aplicativo do seu banco.</p>
    <p>Trata-se de um produto que visa a segurança e comodidade do consumidor. Tudo para proporcionar uma experiência de pagamento cada vez melhor.</p>


    <h3><strong>Pagamento por Link</strong></h3>

    <p>Essa solução, assim como o QR Code, pretende beneficiar a experiência dos consumidores e, claro, reduzir o número de vendas perdidas.</p>
    <p>Quem nunca visitou uma loja física e não encontrou o produto que desejava? É uma situação muito comum. Mas, depois disso, quantas vezes você voltou até o comércio para ver se o mesmo produto havia chegado? Pouquíssimas, não?</p>
    <p>Com o Pagamento por Link, esse esforço de ir até o estabelecimento não será mais necessário.</p>
    <p>Basta o vendedor entrar em contato com o cliente por meio de WhatsApp, por exemplo, e dizer que o produto está disponível no estoque novamente.</p>

    <h3><strong>Como se cadastrar?</strong></h3>

    <p>Conferiu todos os requisitos e descobriu que é elegível ao benefício? Então, você que é trabalhador informal ou autônomo, está desempregado e que não consta no cadastro único, deve acessar o site ou o aplicativo da Caixa Econômica Federal, para solicitar o auxílio emergencial mensal de R$ 600,00.</p>

    <p>Acesse o site <a href="http://www.caixa.gov.br/auxilio/PAGINAS/DEFAULT2.ASPX"><span style="text-decoration: underline;"><strong><span style="color: #0000ff; text-decoration: underline;">Caixa Auxílio Emergencial</span></strong></span></a> e faça seu cadastro ou baixe o app para os sistemas <span style="text-decoration: underline;"><strong><span style="color: #0000ff; text-decoration: underline;"><a style="color: #0000ff; text-decoration: underline;" href="https://play.google.com/store/apps/details?id=br.gov.caixa.auxilio">Android</a> </span></strong></span>e <span style="text-decoration: underline;"><strong><span style="color: #0000ff;"><a style="color: #0000ff; text-decoration: underline;" href="https://apps.apple.com/br/app/caixa-aux%C3%ADlio-emergencial/id1506494331">IOS</a></span></strong></span> no seu celular.</p>

    {{!-- {{> formModal}} --}}

    {{> imagesGallerySlider}}

  </div>
</div>