<nav class="breadcrumb is-size-8 has-succeeds-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Dicas para Empreender</a></li>
  </ul>
</nav>