<div data-v-ctgbr="" class="categories-bar has-background-cloud-lighter">
  <div class="columns has-text-centered is-size-8 has-text-weight-bold is-flex is-centered bar-items">
    <div class="column is-2 item"><a class="is-block has-text-display-heavier">Produtos e Serviços</a></div>
    <div class="column is-2 item"><a class="is-block has-text-display-heavier">Índice ICVA</a></div>
    <div class="column is-2 item"><a class="is-block has-text-display-heavier">Dicas e Histórias de Sucesso</a></div>
    {{!-- <div class="column is-2 item"><a class="is-block has-text-display-heavier">Inovações Tecnológicas</a></div> --}}
    <div class="column is-2 item"><a class="is-block has-text-display-heavier">Institucional</a></div>
    <div class="column is-2 item"><a class="is-block has-text-display-heavier">Imprensa</a></div>
  </div>
</div>