<div data-v-ctcnf="" class="contact-info p-16">
  <h3 class="contact-info-title has-text-weight-bold is-size-7 is-family-secondary has-text-cloud-heavier">Entre em contato e prepare-se para vender mais:</h3>
  <span class="spacer"></span>
  <div class="has-text-centered">
    <div class="is-flex is-family-secondary p-t-16 p-b-16">
      <div class="link-box has-background-cloud-lighter p-8 p-t-12 m-l-4 m-r-4 is-size-8 ">
        <img src="/img/contact/chat.svg" class="is-block m-0-a">
        <p class="has-text-weight-bold">_Chat Online</p>
        <p>para Todos</p>
      </div>
      <div class="link-box has-background-cloud-lighter p-8 p-t-12 m-l-4 m-r-4 is-size-8 ">
        <img src="/img/contact/atendimento.svg" class="is-block m-0-a">
        <p class="has-text-weight-bold">_Atendimento</p>
        <p>Ver número</p>
      </div>
      <div class="link-box has-background-cloud-lighter p-8 p-t-12 m-l-4 m-r-4 is-size-8 ">
        <img src="/img/contact/home.svg" class="is-block m-0-a">
        <p class="has-text-weight-bold">_Lojas Físicas</p>
        <p>Encontre</p>
      </div>
    </div>
    <span class="spacer"></span>
    <div class="info p-t-24 p-b-24">
      <strong class="is-size-4">Central de Relacionamento</strong>
      <p>4002-5472 (todas as localidades)<br>0800-579-8472 (exceto capitais)
      </p>
    </div>
    <span class="spacer"></span>
    <div class="info p-t-24 p-b-24">
      <strong class="is-size-4">Suporte Técnico</strong>
      <p>4002-9111 (todas as localidades) <br>0800-579-0111 (exceto capitais)</p>
    </div>
    <span class="spacer"></span>
    <div class="info p-t-24 p-b-24">
      <strong class="is-size-4">Ouvidoria</strong>
      <p>0800-570-2288</p>
    </div>
  </div>
</div>