<div class="is-flex p-t-24 p-b-24 form-lead">
  <div class="content is-relative">
    <div class="is-flex is-justify-content-center overflow">
      <div class="image">
        <img src="/img/form_modal/cielo-clean-energy.png">
      </div>
      <div class="form is-flex-grow">
        <p class="information is-size-6 m-b-8"><strong>Gostou da novidade,</strong> está dentro das áreas atendidas e <strong>quer participar?</strong></p>
        <p class=" is-size-7 m-b-8">Deixe seus dados que entramos em contato. </p>
        <input class="input is-medium is-size-6 is-family-secondary" type="text" name="name" placeholder="Nome completo*">
        <input class="input is-medium is-size-6 is-family-secondary" type="text" name="city" placeholder="Cidade*">
        <input class="input is-medium is-size-6 is-family-secondary" type="email" name="email" placeholder="E-mail*">
        <input class="input is-medium is-size-6 is-family-secondary" type="phone" name="phone" placeholder="Telefone celular com DDD*">
        <input class="input is-medium is-size-6 is-family-secondary" type="text" name="company_name" placeholder="Nome da Empresa">
        <p class="has-text-right has-text-left-mobile is-size-8 m-b-8">(*) Campos obrigatórios</p>
        <p class="has-message">message</p>
        <button class="is-size-6 is-primary m-b-24 button"><strong>Enviar</strong></button>
        <p class="agreement is-size-9">Ao nos informar seu e-mail e dados pessoais, você concorda em receber nosso contato, bem como outras ações de marketing que possam ser de seu interesse.</p>
      </div>
    </div>
  </div>
</div>