<header class="m-b-12">
  <div class="container is-fullheight">
    <div class="level is-hidden-touch">
      <div class="level-left cielo_logo">
        <img src="/img/header_logo_desk.png" alt="">
      </div>

      <div class="level-item">
        <div class="search-container">
          <input class="search input is-size-7 is-family-secondary" type="text" placeholder="Faça sua busca aqui">
          <a class="button-search">
            <img src="/img/icon-search.svg" alt="">
          </a>
          <ul class="search-result">
            <li>
              <a href="#">Entenda os benefícios de vender parcelado</a>
            </li>
            <li>
              <a href="#">Negociação com fornecedores: Aprenda e torne sua empresa mais competitiva</a>
            </li>
            <li>
              <a href="#">Saiba como gerir seus funcionários e obter melhores resultados</a>
            </li>
            <li>
              <a href="#">Controle de estoque: tenha os detalhes do seu negócio na palma da mão</a>
            </li>
            <li>
              <a href="#">Dicas essenciais para aumentar o faturamento do seu negócio</a>
            </li>
            <li>
              <a href="#">Receba Rápido: o que é, como usar, onde fazer</a>
            </li>
            <li>
              <a href="#" class="more-news">veja mais</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="level-right">
        <div class="is-flex">
          <a href="" class="social-link">
            <img src="/img/post/logo-whatsapp.png" class="m-r-4 m-l-4">
          </a>
          <a href="" class="social-link">
            <img src="/img/post/logo-instagram.png" class="m-r-4 m-l-4">
          </a>
          <a href="" class="social-link">
            <img src="/img/post/logo-facebook.png" class="m-r-4 m-l-4">
          </a>
          <a href="" class="social-link">
            <img src="/img/post/logo-twitter.png" class="m-r-4 m-l-4">
          </a>
          <a href="" class="social-link">
            <img src="/img/post/logo-youtube.png" class="m-r-4 m-l-4">
          </a>
          <a href="" class="social-link">
            <img src="/img/post/logo-linkedin.png" class="m-r-4 m-l-4">
          </a>
        </div>

        <span class="vertical-divider m-l-48 m-r-16"></span>

        <a href="" target="_self" class="button is-default is-display-lighter is-size-8 has-text-primary home-link">
          <img src="/img/icon-home.svg" class="m-r-4">
          Site Cielo
        </a>
      </div>
    </div>

    <div class="mobile-menu is-hidden-desktop is-flex">
      <a role="button" data-menu="" class="navbar-burger " aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

      <div class="cielo_logo">
        <img src="/img/header_logo_desk.png" class="is-block m-0-a">
      </div>

      <div class="mobile-search ">
        <div class="search-icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.5 22.5L18.5 18.5" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5 18.5C14.9183 18.5 18.5 14.9183 18.5 10.5C18.5 6.08172 14.9183 2.5 10.5 2.5C6.08172 2.5 2.5 6.08172 2.5 10.5C2.5 14.9183 6.08172 18.5 10.5 18.5Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="search-input-mobile has-background-cloud-heavy p-t-16 p-b-16 p-l-24 p-r-24">
          <input class="search input is-size-7 is-family-secondary has-result" type="text" placeholder="Faça sua busca aqui">
          <a class="button-search">
            <img src="/img/icon-search.svg" alt="">
          </a>
          <ul class="search-result-mobile">
            <li>
              <a href="#">Entenda os benefícios de vender parcelado</a>
            </li>
            <li>
              <a href="#">Negociação com fornecedores: Aprenda e torne sua empresa mais competitiva</a>
            </li>
            <li>
              <a href="#">Saiba como gerir seus funcionários e obter melhores resultados</a>
            </li>
            <li>
              <a href="#">Controle de estoque: tenha os detalhes do seu negócio na palma da mão</a>
            </li>
            <li>
              <a href="#">Dicas essenciais para aumentar o faturamento do seu negócio</a>
            </li>
            <li>
              <a href="#">Receba Rápido: o que é, como usar, onde fazer</a>
            </li>
            <li>
              <a href="#" class="more-news">veja mais</a>
            </li>
          </ul>
        </div>
      </div>

    <div data-menu="" class="menu-mobile container has-background-cloud-heavier has-text-white p-t-64 p-b-24 is-fixed">
      <p class="title-menu is-block has-text-primary is-size-2 is-uppercase m-b-12 has-text-weight-bold">
        Menu
      </p>

        <a href="#" data-menu-item="" class="menu-label is-size-6 has-text-weight-bold">_Compre sua maquininha</a> 
        <a href="#" data-menu-item="" class="menu-label is-size-6 has-text-weight-bold">_Confira nossos editais</a> 
        <ul class="menu-list m-b-16">
          <li><a data-menu-item="" href="#">Dicas para Empreender</a></li>
          <li><a data-menu-item="" href="#">Dicas para Empreender</a></li>
          <li><a data-menu-item="" href="#">Dicas para Empreender</a></li>
          <li><a data-menu-item="" href="#">Dicas para Empreender</a></li>
          <li><a data-menu-item="" href="#">Dicas para Empreender</a></li>
        </ul>

        <span class="spacer"></span>
        
        <div class="share-label m-b-16 m-t-16">
          Compartilhe nas redes sociais:
        </div>
        <div class="is-flex">
          <img src="/img/post/logo-whatsapp.png" class="m-r-4 m-l-4">
          <img src="/img/post/logo-instagram.png" class="m-r-4 m-l-4">
          <img src="/img/post/logo-facebook.png" class="m-r-4 m-l-4">
          <img src="/img/post/logo-twitter.png" class="m-r-4 m-l-4">
          <img src="/img/post/logo-linkedin.png" class="m-r-4 m-l-4">
        </div>
      </div>
    </div>
  </div>
</header>

<div class="categories-bar-container is-hidden-touch">
  {{> categoriesBar}}
</div>