<div data-v-hmhr="" class="home-hero">
  <div class="is-relative box-content-hero">
    <div class="cover">
      <picture> 
        <source media="(max-width: 769px)" srcset="/img/hero_mobile.jpg">
        <source media="" srcset="/img/hero.jpg">
        <img
          typeof="foaf:Image"
          srcset="data:image/gif;base64, R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
      </picture>
    </div>
    <div class="blue-box p-24 p-b-32 has-text-white has-background-primary">
      <div class="m-t-16 m-b-4 is-size-7 is-size-8-touch">
        Produtos e Serviços 
      </div>

      <div class="box-title is-size-3 is-size-5-touch m-t-8 m-b-8">
        Entenda tudo sobre o novo extrato e o registro de recebíveis. 
      </div>
      <div class="box-description is-size-7 is-size-8-touch">
         Tudo que é novo pode gerar dúvidas. Com a implementação do novo sistema de registro de recebíveis não foi diferente! Confira a matéria completa sobre esse tema. 
      </div>
      <div class="m-t-16 m-b-8">
        <a href="#" class="link has-text-white is-size-8-touch">Saiba mais</a>
      </div>
    </div>
  </div>
</div>