<div id="lgpd-banner" class="">
  <div class="lgpd-modal-background" role="presentation"></div>
  <div class="lgpd-modal-message">
    <div class="lgpd-message"> Este site usa cookies e dados pessoais de acordo com nossos <a class="lgpd-terms"
        href="http://cielo.com.br/termos-condicoes-de-uso/" target="_blank" rel="noopener">termos de uso e política de
        privacidade</a>.<br><br>Ao clicar em “Entendi”, você concorda em armazenar cookies em seu dispositivo para
      melhorar a navegação e uso do site, além de autorizar as ações de marketing. Você pode também <a
        id="lgpd-customize" href="#">customizar</a> suas preferências.</div><button id="lgpd-banner-accept-all"
      class="lgpd-rect-button">Entendi</button>
    <div id="lgpd-banner-close" class="lgpd-close" hidden=""><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M13.7071 0.292893C14.0976 0.683417 14.0976 1.31658 13.7071 1.70711L1.70711 13.7071C1.31658 14.0976 0.683417 14.0976 0.292893 13.7071C-0.0976311 13.3166 -0.0976311 12.6834 0.292893 12.2929L12.2929 0.292893C12.6834 -0.0976311 13.3166 -0.0976311 13.7071 0.292893Z"
          fill="#00AEEF"></path>
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L13.7071 12.2929C14.0976 12.6834 14.0976 13.3166 13.7071 13.7071C13.3166 14.0976 12.6834 14.0976 12.2929 13.7071L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z"
          fill="#00AEEF"></path>
      </svg></div>
  </div>
</div>