<div data-v-pdrsldr="" class="products-slider p-b-32">
  <div class="title-container m-b-32 is-hidden-touch">
    <div class="custom-icon has-background-primary is-inline-block m-r-16 p-12">
      <img src="/img/icon-product.svg">
    </div>
    <div class="is-size-4 is-inline-block">
      <h2>Portfólio de <strong>Soluções!</strong> Encontre a que melhor combina com você.</h2>
    </div>

  </div>

  <div data-product-slider="" class="">
    <div class="m-l-24 product">
      {{> productCard 
          productThumb='/img/products/lio.png'
          color='has-background-primary'
          preName="Cielo"
          name='LIO'
          description='A <strong>máquina inteligente</strong> que trabalha por você e <strong>economiza seu dinheiro.</strong>'
      }}
    </div>
    <div class="m-l-24 product">
      {{> productCard 
          productThumb='/img/products/flash.png'
          color='has-background-secondary'
          preName="Cielo"
          name='FLASH'
          description='A <strong>maquininha ultraveloz</strong> para você <strong>vender muito mais</strong>'
      }}
    </div>
    <div class="m-l-24 product">
      {{> productCard 
          productThumb='/img/products/zip.png'
          color='has-background-primary'
          preName="Cielo"
          name='ZIP'
          description='Na Cielo <strong>Você ganha!</strong> sua maquininha <strong>de verdade.</strong>'
      }}
    </div>
    {{!-- <div class="m-l-24 product">
      {{> productCard 
          productThumb='/img/products/mini-zip.png'
          color='has-background-secondary'
          preName="Cielo"
          name='MINI ZIP'
          description='A maquininha que <strong>não precisa de celular</strong> e cabe no seu bolso.'
      }}
    </div> --}}
    {{!-- <div class="m-l-24 product">
      {{> productCard 
          productThumb='/img/products/lioplus.png'
          color='has-background-primary'
          preName="Cielo"
          name='LIO+'
          description='A <strong>máquina inteligente</strong> que também <strong>vem com celular</strong>'
      }}
    </div>
    <div class="m-l-24 product">
      {{> productCard 
          productThumb='/img/products/maquininha.png'
          color='has-background-secondary'
          preName="PRIMEIRA"
          name='MAQUININHA'
          description='A maquininha que é <strong>pequena no tamanho</strong> e <strong>no preço.</strong>'
      }}
    </div> --}}
  </div>
</div>