<div class="search-not-found is-flex has-text-centered">
  <div class="search-border is-hidden-desktop"></div>
  <div class="search-title">
    <h2 class="is-size-2 is-size-6-touch">Busca <strong>não encontrada</strong></h2>
  </div>
  <div class="thumb-container">
    <img src="/img/result-not-found.png" class="result-thumb">
  </div>
</div>