<div data-v-sbl="" class="sidebar-list p-24 m-b-24">
  <h2 class="sidebar-list-title has-text-cloud-heavy has-underscore">Produtos e <strong>Serviços</strong></h2>
  <div class="sidebars-list">
    {{> articleCard _class="small" }}
    {{> articleCard _class="small" }}
  </div>
  <a class="link is-family-secondary">Ver mais matérias</a>
</div>