  <div data-v-ssbr="" class="social-sidebar is-hidden-touch p-24 m-b-24">
    <h3 class="has-text-cloud-heavy has-underscore m-b-16">
      Cielo nas
      <strong>redes sociais</strong>
    </h3>
    
    <ul class="social-list columns">
      <li class="column">
        <a href="#">
          <img src="/img/logo-twitter.png" alt="" width="100" height="100">
        </a>
      </li>
      <li class="column">
        <a href="#">
          <img src="/img/logo-whatsapp.png" alt="" width="100" height="100">
        </a>
      </li>
      <li class="column">
        <a href="#">
          <img src="/img/logo-instagram.png" alt="" width="100" height="100">
        </a>
      </li>
      <li class="column">
        <a href="#">
          <img src="/img/logo-facebook.png" alt="" width="100" height="100">
        </a>
      </li>
      <li class="column">
        <a href="#">
          <img src="/img/logo-youtube.png" alt="" width="100" height="100">
        </a>
      </li>
      <li class="column">
        <a href="#">
          <img src="/img/logo-linkedin.png" alt="" width="100" height="100">
        </a>
      </li>
    </ul>
  </div>