<div data-v-sl="" class="solutions has-background-primary is-hidden-touch m-b-24">
  <img class="background-thumbs" src="/img/solutions_thumb.png">
  <div class="is-mobile is-relative">
    <div class="column is-offset-5 has-text-white p-t-32 p-l-16">
      <strong>_Portfólio de soluções,</strong>
      <p>encontre a sua.</p>
      <a class="link has-text-white is-size-7 m-t-16 is-block" href="#" target="_blank">Saiba mais</a>
    </div>
  </div>
</div>