<div class="welcome has-text-primary is-size-5 is-size-6-touch has-text-centered-mobile m-b-8 p-t-24 m-b-24">
  <h1><strong>Bem-vindo</strong> ao <strong>Cielo Simplifica</strong>, <br>o <strong>blog de conteúdo</strong> da Cielo!</h1>
</div>